{% extends "EncyclopediaAdminBundle::modal.html.twig" %}

{% block body %}
    <div class="row">
        <h3>Form</h3>
        {{ form_start(form, {attr: {'class':'form-horizontal'} } ) }}

        {% if form_errors is defined %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        <div class="form-group">
            <div class="col-xs-10">
                {{ form_widget(form.category, {attr:{'class':'form-control'}} ) }}
                
                {% if form_errors is defined %}
                <div class="col-xs-10 alert alert-danger" role="alert">{{ form_errors(form.category) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.language, 'Select language' ,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-xs-10">
                {{ form_widget(form.language, {attr:{'class':'form-control'}} ) }}
                
                {% if form_errors is defined %}
                <div class="col-xs-10 alert alert-danger" role="alert">{{ form_errors(form.language) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.translation, 'Translation' ,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-xs-10">
                {{ form_widget(form.translation, {attr:{'class':'form-control'}} ) }}
                
                {% if form_errors is defined %}
                    <div class="col-xs-10 alert alert-danger" role="alert">{{ form_errors(form.translation) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_row(form.submit) }}
            </div>
        </div>
        
        {{ form_end(form) }}
    </div>
{% endblock %}