{% extends "EncyclopediaAdminBundle::main.html.twig" %}

{% block body %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{{ path('encyclopedia_admin_homepage') }}">Home</a></li>
        <li>Lexicon</li>
        <li><a href="{{ path('_admin_lexicon_term_index') }}">Terms</a></li>
        <li class="active">{{ nameOfAction }}</li>
    </ol>
</div>
<div class="row">
    <h2>{{ nameOfAction }}</h2>
    <div class="col-lg-6">
        <h3>Main Informations</h3>
        
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        {{ form_start(form, {attr: {'class':'form-horizontal'} } ) }}
        
        {% if form_errors is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form) }}
                </div>
        {% endif %}
                
        <div class="form-group">
            {{ form_label(form.term, 'Term', {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
            <div class="col-xs-8">
                {{ form_widget(form.term, {attr:{'class':'form-control','role':'default'}} ) }}

                {% if form_errors is defined %}
                    <div class="col-xs-8 alert alert-danger" role="alert">{{ form_errors(form.term) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.idxTerm, 'Indexed Term', {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
            <div class="col-xs-8">
                {{ form_widget(form.idxTerm, {attr:{'class':'form-control','role':'indexed'}} ) }}

                {% if form_errors is defined %}
                    <div class="col-xs-8 alert alert-danger" role="alert">{{ form_errors(form.idxTerm) }}</div>
                {% endif %}
            </div>
        </div>    
        <div class="form-group">
            {{ form_label(form.category, 'Category' ,{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-xs-8">
                {{ form_widget(form.category, {attr:{'class':'form-control'}} ) }}

                {% if form_errors is defined %}
                    <div class="col-xs-8 alert alert-danger" role="alert">{{ form_errors(form.category) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                {{ form_widget(form.submit) }}
            </div>
        </div> 
        {{ form_end(form) }}
    </div> 
    <div class="col-lg-6">
        <h3>Alias <span class="pull-right"><a href="{{ path('_admin_lexicon_alias_new', {'idLexiconTerm':term.id} ) }}" title="Add an alias"><i class="fa fa-plus-circle"></i></a></span></h3>
    </div>
</div>    
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready( function(){

  hideAlertDiv($('div[role="alert"]'));
  fillUpIndexedInputValueFromDefaultInputValue();
        
});        
</script>    
{% endblock %}
