<!DOCTYPE html>
<html>
    <head>
        <title>Encyclopedia Cthulhiana - Administration</title>
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />  
        <link href="{{ asset('css/jquery/smoothness/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/admin.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/lib/jquery-2.0.2.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/admin.js') }}"></script>
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-lg-12 page-header  header">
                <h1>Encyclopedia Cthulhiana - Administration</h1>
            </div> 
            {% block menu %}{% endblock %}
            <div class="corpus col-lg-12">
            {% block body %}

            {% endblock %}
            </div>
        </div>
    {% block javascripts %}{% endblock %}        
    </body>
</html>
