{% extends "EncyclopediaAdminBundle::layout.html.twig" %}

{% block body -%}
    <h1>Publishing</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Editor</th>
                <td>{{ entity.editor }}</td>
            </tr>
            <tr>
                <th>Classification</th>
                <td>{{ entity.classification }}</td>
            </tr>
            <tr>
                <th>Typenumber</th>
                <td>{{ entity.typeNumber }}</td>
            </tr>
            <tr>
                <th>Refnumber</th>
                <td>{{ entity.refNumber }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('_publishing') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('_publishing_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
