{% extends "EncyclopediaAdminBundle::layout.html.twig" %}

{% block body %}
<script src="{{ asset('js/libs/jquery-ui-1.10.4.custom.min.js') }}"></script>
{% if entity.id %}
<script>
    $(document).ready(function() {
        
        $('#filter_oeuvre').autocomplete({
            minLength: 3,
            my: 'bottom',
            at: 'top',
            source: function( request, response ) {
                $.ajax({
                    type: "GET",
                    url: "{{ path('_oeuvres_autocomplete_search') }}",
                    dataType: 'json',
                    data: {
                        oeuvre: request.term,
                        id_catalogue: {{ entity.id }},
                        action: 'addcatalogueitem'
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
				value : item.name,
				id: item.id
                            }
                        }));
                    },
                    maxRows: 15
                })
            },
            select: function( event, ui ) { 
                $('#id_oeuvre').val(ui.item.id);
                openInfoBox('Oeuvre');
                
            },
            close: function() { 
		$('form#autocomplete_search').submit();
            }
        }).on('click', function(){
		$(this).val('');
                $('id_oeuvre').val('');
            });

    });
</script>
{% endif %}
{# to come back at the top of page #}
<a name="top"></a>
{# breadcrumb #}
<h3><a href="{{ path('_catalogues') }}">Catalogue</a> > Edit : {{ entity.name }}</h3>
{# navigation submenu #}
<p><a href="#relateditems">Related Items</a> | <a href="#alias">Alias</a> | <a href="#oeuvres">Oeuvres</a></p>
{# page informations #}
<div class="container_12 edit">
    <div class="grid_6 block">
        <fieldset><legend>Edit</legend>    
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.name) }}
        {{ form_row(edit_form.category) }}
        {{ form_row(edit_form.idPerson) }}

        {{ form_end(edit_form) }}
        </fieldset>
    </div>
     
    {% if entity.id %}
    <!-- Related Items -->
    <div class="grid_0 block" id="blockRelateditems"><a name="relateditems"></a>
        <fieldset><legend>Related items</legend>
            {% if entity.relatedItems|length > 0 %}
                {% for ri in entity.relatedItems %}
                    <span class="cloudItem"><a href="{{ path('_catalogues_edit', {'id':ri.id}) }}">{{ ri.name }} ({{ ri.category.name }})</a> | <a href="{{ path('_catalogues_delrelated', {'id':entity.id,'idrelated':ri.id}) }}"><i class="fa fa-times fa-4 orange"></i></a></span>
                {% endfor %}
            {% endif %}
        </fieldset>    
    </div> 
    <!-- Alias -->
    <div class="grid_0 block"><a name="alias"></a>
        <fieldset><legend>Alias</legend>
            <p><a href="{{ path('_catalogues_alias_new',{'id_catalogue' : entity.id}) }}"><i class="fa fa-plus-circle fa-3"></i> Add a new alias</a></p>
            {% if entity.alias|length > 0 %}
            <table class="list">
                <tr>
                    <th>Alias</th>
                    <th>Country</th>
                    <th>Description</th>
                </tr>
                {% for alias in entity.alias %}
                <tr>
                    <td><a href="{{ path('_catalogues_alias_edit',{'id_catalogue' : entity.id,'id' : alias.id}) }}">{{ alias.name }}</a></td>
                    <td><img src="{{ asset('img/flags/'~alias.languages.isoCode~'.png') }}" width="20px" height="20px" /></td>
                    <td class="tableText">{{ alias.description|raw }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </fieldset>
        <p><a href="#top"><i class="fa fa-arrow-up fa-3"></i> Top</a></p>
    </div>
    <!-- Oeuvres related -->
    <div class="grid_0 block" id="blockOeuvre"><a name="oeuvres"></a>
        <fieldset><legend>Oeuvres</legend>
            <!-- the form to add an oeuvre to the catalogue item -->
            <span id="spanOpenOeuvre"><a href="javascript:openDiv('Oeuvre');" id="eventOnOeuvre"><i class="fa fa-plus-circle fa-3"></i> Add a related oeuvre</a></span>
            <div class="grid_6" id="hiddenDivOeuvre" style="display:none;">
                <form action="{{ path('_catalogues_addoeuvre', {'id': entity.id}) }}" method="POST" class="formAdding">
                    <p><label for="filter_oeuvre">Oeuvre title: </label> <input type="text" class="ui-autocomplete-input" id="filter_oeuvre" name="filter_oeuvre" value="" autocomplete="off" /> <input type="hidden" id="id_oeuvre" name="id_oeuvre" value="" /> </p>
                    <p><label for="firstappearance">First appearance: </label> <input type="radio" name="firstappearance" value="1" /> Yes <input type="radio" name="firstappearance" value="0" checked="checked" /> No </p>
                    <input type="submit" name="submit_add" value="Add" class="smallButton" />
                </form>
                <br />
                <span id="spanCloseOeuvre" style="display:block; clear: both;"><a href="javascript:closeDiv('Oeuvre'),clearFields('Oeuvre');"><i class="fa fa-plus-circle fa-3"></i> Close the box adding a related oeuvre</a></span>
            </div>
            <!-- End of the form -->
            {% if entity.cataloguesOeuvres|length > 0 %}
            <table class="list">
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>First appearance</th>
                    <th>Format</th>
                    <th>Author</th>
                    <th>Publishing</th>
                    <th>Del.</th>
                </tr>
                {% for co in entity.cataloguesOeuvres %}
                <tr>
                    <td>{{ co.oeuvres.name }}</td>
                    <td>{{ co.oeuvres.date }}</td>
                    <td>{{ co.firstAppearance }}</td>
                    <td>{{ co.oeuvres.format }}</td>
                    <td>
                        {% if co.oeuvres.persons|length > 0 %}
                        <ul>
                            {% for person in co.oeuvres.persons %}
                            <li>{{ person.name }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <a href="{{ path('_catalogues_deloeuvre', {'id':entity.id,'idoeuvre':co.oeuvres.id}) }}"><i class="fa fa-times fa-4 orange"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </fieldset>
        <p><a href="#top"><i class="fa fa-arrow-up fa-3"></i> Top</a></p>
    </div>
   {% endif %}
</div>

{% endblock %}
