{% extends "EncyclopediaAdminBundle::layout.html.twig" %}

{% block body -%}
<h3><a href="{{ path('_oeuvres') }}">Oeuvre</a> > Edit : {{ entity.name }}</h3>
<div class="container_12 edit">
    <div class="grid_0 block">
        <fieldset><legend>Edit</legend>    
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        <div style="float:left;width:48%;">
        {{ form_row(edit_form.name) }}
        {{ form_row(edit_form.date) }}
        {{ form_row(edit_form.format) }}
        </div>
        <div style="float:right;width:48%;">
            {{ form_label(edit_form.persons) }}<br/><br/>
            {% for person in edit_form.persons %}
                <span class="cloudItem">{{ form_label(person) }} {{ form_widget(person) }}</span>
            {% endfor %}
        </div>   
        {{ form_end(edit_form) }}
        </fieldset>
    </div>
    {% if entity.id %}
        
    {# Alias #}    
    <div class="grid_0 block">
        <fieldset><legend>Alias</legend>
            <p><a href="{{ path('_oeuvres_alias_new',{'id_oeuvre' : entity.id}) }}"><i class="fa fa-plus-circle fa-3"></i> Add a new alias</a></p>
            {% if entity.alias|length > 0 %}
            <table class="list">
                <tr>
                    <th>Alias</th>
                    <th>Country</th>
                </tr>
                {% for alias in entity.alias %}
                <tr>
                    <td><a href="{{ path('_catalogues_alias_edit',{'id_catalogue' : entity.id,'id' : alias.id}) }}">{{ alias.name }}</a></td>
                    <td><img src="{{ asset('img/flags/'~alias.languages.isoCode~'.png') }}" width="20px" height="20px" /></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </fieldset>
    </div>
    {# end of alias #}
        
    {# Related catalogue's item #}
    <div class="grid_0">
        <fieldset><legend>Catalogue's items</legend>
            
            {# test if related catalogue's item exist in the entity, and deploy them #}
            {% if entity.cataloguesOeuvres|length > 0 %}
                <div class="grid_0">
                {% for c in entity.cataloguesOeuvres %}
                    <span class="cloudItem">
                        <a href="{{ path('_catalogues_edit', {'id': c.catalogues.id}) }}">{{ c.catalogues.name }}</a> | {{ c.catalogues.category.name }}
                        {# test if the related catalogue's item has been seen for the first time in the oeuvre #}
                        {% if c.firstAppearance == 1 %}
                            | <i class="fa fa-eye"></i>
                        {% endif %}
                        {# end of the if for the firstApprearance #}
                    </span>
                {% endfor %}
                </div>
            {% endif %}   
            {# end of if #}
            
        </fieldset>
    </div>
    {# End of related catalogu's item #}
    
    {# publishing #}
    <div class="grid_0">
        <fieldset><legend>Publishing</legend>
            {# test if oeuvre is within a publishing, and deploy them #}
            {% if entity.publishing|length > 0 %}
                
                <table class="list">
                    <tr>
                        <th>Classification</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                        <th>Year</th>
                        <th>Language / country</th>
                    </tr>
                    
                    {% for p in entity.publishing %}
                    <tr>
                        <td>{{ p.classification }}</td>
                        <td><a href="{{ path('_publishing_edit', {'id': p.id}) }}">{{ p.title }}</a></td>
                        <td>{{ p.subtitle }}</td>
                        <td>{{ p.publishYear }}</td>
                        <td><img src="{{ asset('img/flags/'~p.languages.isoCode~'.png') }}" width="20px" height="20px" /></td>
                    </tr>
                    {% endfor %}
                    
                </table>    
                    
           {% endif %}   
           {# end of if #} 
        </fieldset>
    </div>
    {# End of related catalogu's item #}
    
   {% endif %}
   
{% endblock %}
