{% extends "EncyclopediaAdminBundle::layout.html.twig" %}

{% block body %}
<script src="{{ asset('js/lib/jquery-ui-1.10.4.custom.min.js') }}"></script>
<script>
    $(document).ready(function() {

        $('#filter_oeuvre').autocomplete({
            minLength: 3,
            my: 'bottom',
            at: 'top',
            source: function( request, response ) {
                $.ajax({
                    type: "GET",
                    url: "{{ path('_admin_oeuvres_autocomplete_search') }}",
                    dataType: 'json',
                    data: {
                        oeuvre: request.term
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
				value : item.name,
				id: item.id
                            }
                        }));
                    },
                    maxRows: 15
                })
            },
            select: function( event, ui ) { 
                $('#id_oeuvre').val(ui.item.id);
                
            },
            close: function() { 
		$('form#autocomplete_search').submit();
            }
        }).on('click', function(){
		$(this).val('');
                $('id_oeuvre').val('');
            });

    });
</script>
<h3>Oeuvres</h3>
<h4>Where are referenced catalogue's items</h4>
<div class="grid_0">
    <div style="float:left; width:17%;">
        <form action="{{ path('_admin_oeuvres_search') }}" method="POST" id="autocomplete_search">
            <label for="filter_oeuvre">Search</label> <input type="text" class="ui-autocomplete-input" id="filter_oeuvre" name="filter_oeuvre" value="" /> <input type="hidden" id="id_oeuvre" name="id_oeuvre" value="" /> <input type="submit" name="submit_search" value="Ok" />
        </form>
    </div>
    <div style="float:left; width:17%"><a href="{{ path('_admin_oeuvres_new') }}"><i class="fa fa-plus-circle fa-3"></i> Add a new entry</a></div>
</div>
<div class="grid_0">
    <h4>Last 15 entries</h4>
    <ul>
        {% for le in lastentries %}
        <li><a href="{{ path('_admin_oeuvres_edit', {'id' : le.id}) }}">{{ le.name }} ({{ le.format }})</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
