<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>The Cthulhu Mythos Encyclopedia {% block title %}{% endblock %}</title>
        <meta name="keywords" content="Encyclopedia, Cthulhiana, {% block keywords %}{% endblock %}" /> 
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />  
        <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/font-cthulhuian/cthulhuian.css') }}" rel="stylesheet" />
        <link href="{{ asset('less/encyclopedia.less') }}" type="text/css" rel="stylesheet/less"/>
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/less.min.js') }}"></script>
        <script src="{{ asset('js/lib/jquery-2.0.2.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row header">
                <div class="flags col-lg-12 pull-right">
                    <ul>
                        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('img/flags/en.png') }}" width="20px" height="20px" /></a></li>
                        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('img/flags/fr.png') }}" width="20px" height="20px" /></a></li>
                    </ul>
                </div>
                <div class="title col-lg-10">
                    <h1>The Cthulhu Mythos Encyclopedia Online<br/><small><span class="cthulhuian">{% trans from "header" %}header.fhtagn{% endtrans %}</small></h1>
                </div>
                <div class="col-lg-2">
                    <div class="randomIndex">{{ render(controller('EncyclopediaFrontBundle:Default:randomIndex')) }}</div>
                </div>
            </div>
            <div class="menu row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><i class="cthulhu-i thegreatoldones"></i></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('_homepage') }}">{% trans from "header" %}header.navigation.home{% endtrans %}</a></li>
                                <li><a href="{{ path('_lexicon') }}">{% trans from "header" %}header.navigation.lexicon{% endtrans %}</a></li>
                                <li><a href="">{% trans from "header" %}header.links.about{% endtrans %}</a></li>
                                <li><a href="">{% trans from "header" %}header.links.contact{% endtrans %}</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
            <div class="corpus row">
            {% block body -%}
                   
            {% endblock %}
            </div>
            <div class="footer row">
                <div class="col-lg-12">Cthulhuian Font by StapletonMcTavish (http://stapletonmctavish.deviantart.com/art/Cthulhuian-Font-with-working-file-450664130)</div>
            </div>
        </div>
    </body>
</html>
