{% extends "EncyclopediaFrontBundle::layout.html.twig" %}

{% block title -%} - Catalogue Index{% endblock %}
{% block keywords -%}catalogue,index{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/jquery/smoothness/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/lib/jquery-ui-1.10.4.custom.min.js') }}"></script>
{% endblock %}   

{% block body -%}
<script>
    $(document).ready(function() {

        $('#filter_search').autocomplete({
            minLength: 3,
            my: 'bottom',
            at: 'top',
            source: function( request, response ) {
                $.ajax({
                    type: 'GET',
                    url: "{{ path('_lexicon_autocomplete_search') }}",
                    dataType: 'json',
                    data: {
                        catalogue: request.term
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
				value : item.name,
				id: item.id
                            }
                        }));
                    },
                    maxRows: 15
                })
            },
            select: function( event, ui ) { 
                $('#id_catalogue').val(ui.item.id);
                
            },
            close: function() { 
		$('form#autocomplete_search').submit();
            }
        }).on('click', function(){
		$(this).val('');
                $('id_catalogue').val('');
            });

    });
</script>
<div class="container_12">  
    
    {# Block on the left side of content #}
    <div class="grid_0">
        <div class="grid_6"><h2>{% trans from "lexicon" %}index.title{% endtrans %}</h2></div>
    </div>    
    <div class="grid_3 box">
        <div class="grid_16 blockList">
        <h3>{% trans from "lexicon" %}index.categories{% endtrans %}</h3>
        {% if listCategories|length > 0 %}
            <ul class="cthulhu-ul">
            {% for lc in listCategories %}
                <li class="{{ lc.category.category|categorytoclass }}"><span>{{ lc.translation }}</span></li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
    
    {# block center with the alpha letter and the results of search by index #}    
    <div class="grid_6 box">
        <h3>{% trans from "lexicon" %}index.findbyalpha{% endtrans %}</h3>
        
        <div class="listLetter">
            {% for letter in range('A', 'Z') %}
                <span><a href="{{ path('_lexicon',{'letter': letter}) }}" {% if letter == currentLetter %} class="selectedGrey" {% endif %}>{{ letter }}</a></span>
            {% endfor %}
        </div>
        
        {# if Russian is the language of browser, display cyrillic alphabatical order #}
        {% if app.request.locale == 'ru' %}
        Russian Alphabetical order
        {% set russianLetter = russianAlphaLetter() %}
        <div class="listLetter">
            {% for letter in russianLetter %}
                <span><a href="{{ path('_lexicon',{'letter': letter}) }}" {% if letter == currentLetter %} class="selectedGrey" {% endif %}>{{ letter }}</a></span>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="grid_16 resultItem">
            <h4>Index {{ currentLetter }}</h4>
            {% if items|length > 0 %} 
                
                {% set i = 0 %}
 
                {% for item in items %}
                    <div class="grid_4 item">
                        <i class="cthulhuian cthulhu-lg green {{ item['lc_category']|categorytoclass }}"></i>
                        {#% filter replace({'(': '<span class="mini indent">(', ' alias )': ' alias )</span>'})|raw %#}
                        {{ item['l_term']}}
                        {#% endfilter %#}
                        <span class="oblique mini green left indent">{{ item['lc_category']}}</span>
                    </div>
                                        
                    {% if( i%3 == 0) %} 
                        <br style="clear:both;" />
                    {% endif %}  
                    
                    {% set i = loop %}
                        
                {% endfor %}

            {% else %}
                <p>no results for current index letter</p>
            {% endif %}
        </div>    
    </div>
        
    {# Block right side of the content #}    
    <div class="grid_3 box">
        <div class="grid_16 blockList">
            <h3 class="right">{% trans from "lexicon" %}index.search{% endtrans %}</h3>
            <p class="right"><input type="text" id="filter_search" value="ex: cthulhu, arkham"/></p>
            <p class="justify">{% trans from "lexicon" %}index.search.explanation{% endtrans %}</p>
        </div>
        <div class="grid_16 blockList">
        <h3 class="right">{% trans from "lexicon" %}index.lastentries{% endtrans %}</h3>
        {% if lastEntries|length > 0 %}
            <ul>
            {% for le in lastEntries %}
                <li class="right"><i class="cthulhuian cthulhu-lg {{ le.category.category|categorytoclass }}"></i> {{ le.term }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>    
</div>    
{% endblock %}    
